.mobile-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-ui__content {
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.content__list {
  list-style: none;
  padding: 0;
}

.content__item {
  margin-bottom: 5px;
}
